.Time {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}
.Class {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
}
.ClassTime{
    font-size: 25px;
    text-align: center;
    margin-top: 0px;
}
.Later{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.Periods {
    text-align: center;
}
.Days {
    font-weight: bold;
    text-align: left;
}